{% extends "layout-site.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="w3-main" style="margin-bottom:128px">
  <!-- First Photo Grid-->
    <div class="w3-row-padding">
        {% for key, value in inventories.items() %}
            <div class="w3-quarter w3-container w3-margin-bottom">
        <div class="w3-display-container">
          <a href="#" class="hoverable">
    <span class="normal w3-button w3-curtains w3-wide w3-display-right w3-round">{{key.name}}</span><span class="hover w3-button w3-wide w3-curtains w3-display-right w3-round"> {{value}} {{key.name}}</span>
        <img src="{{key.image}}" alt="Custom made furniture" style="width:100%" class="w3-corner"></a>
      </div>
      </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}
