{% extends "layout-site.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<div class="w3-main" style="margin-bottom:128px">
  <!-- First Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-quarter w3-container w3-margin-bottom">
        <div class="w3-display-container">
          <a href="#" class="hoverable">
    <span class="normal w3-button w3-wide w3-curtains w3-display-right w3-round">Furniture</span><span class="hover w3-button w3-wide w3-curtains w3-display-right w3-round"> 453 Furniture</span>
        <img src="https://tes-backup.ams3.digitaloceanspaces.com/elegantdeco/furniture.jpg" alt="Custom made furniture" style="width:100%" class="w3-corner"></a>
      </div>
      </div>
      <div class="w3-quarter w3-container w3-margin-bottom">
        <div class="w3-display-container">
          <a href="" class="hoverable">
        <span class="normal w3-button w3-wide w3-wallpapers w3-display-right w3-round">Fabrics</span><span class="hover w3-button w3-wide w3-wallpapers w3-display-right w3-round">753 Fabrics</span>
              <img src="https://tes-backup.ams3.digitaloceanspaces.com/elegantdeco/fabrics.jpg" alt="Fabrics" style="width:100%" class="w3-corner"></a>
        </div>
      </div>
        <div class="w3-quarter w3-container w3-margin-bottom">
          <div class="w3-display-container">
            <a href="" class="hoverable">
          <span class="normal w3-button w3-wide w3-furnitures w3-display-right w3-round">Wallpapers</span><span class="hover w3-button w3-wide w3-furnitures w3-display-right w3-round">537 Wallpapers</span>
          <img src="https://tes-backup.ams3.digitaloceanspaces.com/elegantdeco/wallpapers.jpg" alt="Wallpapers" style="width:100%" class="w3-corner"></a>
          </div>
          </div>
      <div class="w3-quarter w3-container w3-margin-bottom">
        <div class="w3-display-container">
          <a href="" class="hoverable">
        <span class="normal w3-button w3-wide w3-textiles w3-display-right w3-round">Trimmings</span><span class="hover w3-button w3-wide w3-textiles w3-display-right w3-round">1239 Trimmings</span>
        <img src="https://tes-backup.ams3.digitaloceanspaces.com/elegantdeco/trimmings.jpg" alt="Trimmings" style="width:100%" class="w3-corner"></a>
      </div>
      </div>
    </div>
    </div>
{% endblock %}
