{% extends "layout-site.html" %}
{% block title %}Delivery information{% endblock %}
{% block body %}
<!-- Terms -->
<div class="w3-container" style="margin-bottom:128px">
  <div class="w3-content w3-opacity w3-large w3-row-padding" style="max-width:700px">
    <h3><span>Shipping</span></h3>
    <p>We offer different shipping options to meet your needs.</p>
    <p>In final proforma invoice we will calculate the shipping cost for your total order as a subsum of the total order sum. By aggregating individual shipping needs of our customers, we can negotiate better prices with selected high quality shipping service providers, allowing us to pass the savings on to you, our valuable customers.</p>
    <p>For your peace of mind, we also offer you the possibility of purchasing additional insurance at one of the lowest rates on the market, with a coverage of up to 2000€/package. For your freight shipment, you can also buy additional insurance at very low prices.</p>
    <p>We only cooperate with reliable international couriers, renowned for their quality and secure services.</p>
    <p>If you prefer to use your choise forwarder for shipping let us know and all charges will have to covered by your side. All orders must be signed for at the address to which shipped. We are unable to redirect orders once items have been dispatched, so please ensure there is someone who can sign for your order at the specified shipping address.</p>
    <p>For your first-time order please ensure that your delivery address and contact details are filled an accurately, so that we can contact you if necessary.</p>
    <p>You can check the current status of your shipment at forwarders web-site accordingly using the tracking number of your shipment (sent to you when goods collected from our warehouse)</p>
  </div>
</div>
{% endblock %}
