{% extends "layout-site.html" %}
{% block title %}Terms{% endblock %}
{% block body %}
<!-- Terms -->
<div class="w3-container">
  <div class="w3-content" style="max-width:700px">
    <h5><span>Terms and conditions</span></h5>
    <p>The Cafe was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>In addition to our full espresso and brew bar menu, we serve fresh made-to-order breakfast and lunch sandwiches, as well as a selection of sides and salads and other good stuff.</p>
  </div>
</div>
{% endblock %}
