<!-- app/templates/admin/departments/departments.html -->
{% extends "layout-admin.html" %}
{% block title %}Departments{% endblock %}
{% block body %}
<div class="w3-row-padding w3-padding-64 w3-container">
<hr>
<div class="w3-center">
<h2>Departments</h2>
<p w3-class="w3-large">Add, Edit, Delete Departments.</p>
</div>
        <div class="w3-button w3-circle w3-large w3-card-4 w3-green">
          <a href="{{ url_for('admin.add_department') }}"><i class="fa fa-plus"></i></a>
        </div>
                {% with messages = get_flashed_messages() %}
                   {% if messages %}
                   <ul>
                       {% for message in messages %}
                       <li>{{ message }}</li>
                       {% endfor %}
                   </ul>
                   {% endif %}
                   {% endwith %}
                <br/>
                {% if departments %}
                  <hr class="intro-divider">
                  <div class="w3-responsive w3-card-4">
                    <table class="w3-table w3-striped w3-bordered">
                      <thead>
                        <tr class="w3-blue">
                          <th width="15%"> Name </th>
                          <th width="40%"> Description </th>
                          <th width="15%"> Employee </th>
                          <th width="15%"> Edit </th>
                          <th width="15%"> Delete </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for department in departments %}
                      <tr class="w3-white">
                          <td> {{ department.name }} </td>
                          <td> {{ department.description }} </td>
                          <td>
                            {% if department.employees %}
                              {{ department.employees.count() }}
                            {% else %}
                              0
                            {% endif %}
                          </td>
                          <td>
                            <a href="{{ url_for('admin.edit_department', id=department.id) }}">
                              <i class="fas fa-edit"></i>
                            </a>
                          </td>
                          <td>
                            <a href="{{ url_for('admin.delete_department', id=department.id) }}">
                              <i class="fa fa-trash"></i>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div style="text-align: center">
                {% else %}
                  <div style="text-align: center">
                    <h3> No departments have been added. </h3>
                    <hr class="intro-divider">
                {% endif %}
                </div>
              </div>
            </div>
{% endblock %}
