<!-- app/templates/admin/products/products.html -->
{% extends "layout-admin.html" %}
{% block title %}Products{% endblock %}
{% block body %}
<div class="w3-row-padding w3-padding-64 w3-container">
<hr>
<div class="w3-center">
<h2>Products</h2>
<p w3-class="w3-large">Add, Edit, Delete Products.</p>
</div>
        <div class="w3-button w3-circle w3-large w3-card-4 w3-green">
          <a href="{{ url_for('admin.add_product') }}"><i class="fa fa-plus"></i></a>
        </div>
                {% with messages = get_flashed_messages() %}
                   {% if messages %}
                   <ul>
                       {% for message in messages %}
                       <li>{{ message }}</li>
                       {% endfor %}
                   </ul>
                   {% endif %}
                   {% endwith %}
                <br/>
                {% if products %}
                  <hr class="intro-divider">
                  <div class="w3-responsive w3-card-4">
                    <table class="w3-table w3-striped w3-bordered">
                      <thead>
                        <tr class="w3-blue">
                          <th width="5%"> Barcode </th>
                          <th width="15%"> Title </th>
                          <th width="5%"> Edit </th>
                          <th width="10%"> Delete </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for product in products %}
                      <tr class="w3-white">
                          <td> {{ product.code }} </td>
                          <td> {{ product.name }} </td>
                        
                          <td>
                            <a href="{{ url_for('admin.edit_product', id=product.id) }}">
                              <i class="fas fa-edit"></i>
                            </a>
                          </td>
                          <td>
                            <a href="{{ url_for('admin.delete_product', id=product.id) }}">
                              <i class="fa fa-trash"></i>
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div style="text-align: center">
                {% else %}
                  <div style="text-align: center">
                    <h3> No products have been added. </h3>
                    <hr class="intro-divider">
                {% endif %}
                </div>
              </div>
            </div>
{% endblock %}
